<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <nav class=" bg-white-200 flex justify-between ">
          <div class="flex items-center">
            <img src="/visitingcard.png" class="h-5 w-8 mr-2 px-2 py-2" alt="Logo">
            <h1 class="text-xl font-semibold px-2 py-2">HARSHA</h1>
          </div>
          <div class="flex items-center">
            <div class="relative">
              <input type="text" placeholder="Search" class="p-2 pl-10 rounded-l-md border border-gray-300 focus:outline-none focus:border-blue-500">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3">
              </div>
            </div>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-r-md">Search</button>
          </div>
        
        <ul class="flex px-10 py-2 space-x-3 justify-end">
            <li class="cursor-pointer "><a href="/log.html">Profile</a></li>
            <li class="cursor-pointer"><a href="/sign.html">Setting</a></li>
        </ul>

    </nav>
    <hr>
</body>
</html>