{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-sm-around" id="nav_rapper ">
        <a class="navbar-brand" href="#" id="logo">HARSHA</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-sm-between" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Why Harsha?</a>
            </li>
            
          </ul>
          <div class="nav_login">
            <ul class="d-flex justify-content-center align-item-center m-0">
              <li class="nav-item">
                <button type="button" class="btn d-flex mx-4 " id="Log">
                  <a href="/loginpage">Login</a>
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn" id="sign">
                  <a href="/signin">Sign Up</a>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="home">
      <div class="content">
        <!-- <h3>We're here for you</h3> -->
        <h2>Always <span class="changecontent"></span></h2>
        <p class="m-0">
          Your mental health is important. Some days are better than others and
          we all need a helping hand from time to time.
        </p>
        <p>
          Wherever you are in your mental health journey, we'll be here to help.
        </p>
        <a href="/signin">Start Here <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
{% endblock %}
