{% extends "base.html" %}
{% block style%}
<link rel="stylesheet" href="/static/main.css">
{% endblock %}
 {% block content %}
    {% comment %} navigation {% endcomment %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">HARSHA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/homepage">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/profile">Profile</a>
              <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% comment %} end of navigation bar {% endcomment %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
           <article class="media content-section">
             <img class ="rounded-circle article-img"src="{{object.author.profile.image.url}}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if objects.author == user %}
                  <a class="btn btn-secondary bth-sm mt-1 md-1" href="{% url 'post-update' object.id %}">Update</a>
                  <a class="btn btn-danger bth-sm mt-1 md-1" href="{% url 'post-delete' object.id %}">Delete</a>            
                  {% endif %}
              </div>
              <h2 class="article-title">{{ object.title }}</h2>
              <p class="article-content">{{ object.content }}</p>
            </div>
           </article>
        </div>
      </div>
    </main>
 {% endblock %}